Repository xxmikexx1/docling-langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, autoflake, mypy, flake8, pytest, nbqa_black, nbqa_isort

black:
  name: Black
  entry: poetry run black docling_langchain test
  pass_filenames: false
  language: system

isort:
  name: isort
  entry: poetry run isort docling_langchain test
  pass_filenames: false
  language: system

autoflake:
  name: autoflake
  entry: poetry run autoflake docling_langchain test
  pass_filenames: false
  language: system

mypy:
  name: MyPy
  entry: poetry run mypy docling_langchain test
  pass_filenames: false
  language: system

flake8:
  name: Flake8
  entry: poetry run flake8 docling_langchain
  pass_filenames: false
  language: system

pytest:
  name: Pytest
  entry: poetry run pytest test/
  pass_filenames: false
  language: system

nbqa_black:
  name: nbQA Black
  entry: poetry run nbqa black examples/
  pass_filenames: false
  language: system

nbqa_isort:
  name: nbQA isort
  entry: poetry run nbqa isort examples/
  pass_filenames: false
  language: system

ci: add CI/CD pipeline
  .github/actions/setup-poetry/action.yml
  .github/mergify.yml
  .github/scripts/release.sh
  .github/workflows/cd.yml
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  .github/workflows/pypi.yml
Due: none

chore: constrain python version (#1)
  .github/workflows/checks.yml
  poetry.lock
  pyproject.toml
Due: none

feat: rename distribution pkg & import pkg (#2)
  .pre-commit-config.yaml
  README.md
  examples/docling_loader.ipynb
  langchain_docling/__init__.py
  langchain_docling/loader.py
  langchain_docling/py.typed
  pyproject.toml
  test/test_loader.py
Due: black, isort, autoflake, mypy, flake8, pytest, nbqa_black, nbqa_isort

docs: update README (#3)
  README.md
Due: none

feat: enable Python 3.13, update deps, switch to uv, add codecov (#14)
  .gitattributes
  .github/actions/setup-poetry/action.yml
  .github/codecov.yml
  .github/scripts/release.sh
  .github/workflows/cd.yml
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  .github/workflows/pypi.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  examples/docling_loader.ipynb
  poetry.lock
  pyproject.toml
  test/__init__.py
  test/data/input/dl_doc_1.json
  test/data/output/lc_doc_chunks_1.json
  test/data/output/lc_doc_md_1.json
  test/test_data_gen_flag.py
  test/test_loader.py
  uv.lock
Due: black, isort, autoflake, mypy, flake8, pytest, nbqa_black, nbqa_isort

ci: add 3.13 to tested Python versions (#16)
  .github/workflows/checks.yml
Due: none

chore: dco advisor (#17)
  .github/dco.yml
  .github/workflows/dco-advisor.yml
Due: none

feat: add Neo4j ingestion pipeline
  README.md
  langchain_docling/__init__.py
  langchain_docling/neo4j.py
  pyproject.toml
  test/test_neo4j_ingestion.py
  uv.lock
Due: black, isort, autoflake, mypy, flake8, pytest

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  autoflake: any of: \.py$
  mypy: any of: \.py$
  flake8: any of: \.py$
  pytest: any of: \.py$
  nbqa_black: any of: \.ipynb$
  nbqa_isort: any of: \.ipynb$
