Repository docling-project/docling-langchain: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, autoflake, mypy, flake8, pytest, nbqa_black, nbqa_isort

black:
  name: Black
  entry: poetry run black langchain_docling test
  pass_filenames: false
  language: system

isort:
  name: isort
  entry: poetry run isort langchain_docling test
  pass_filenames: false
  language: system

autoflake:
  name: autoflake
  entry: poetry run autoflake langchain_docling test
  pass_filenames: false
  language: system

mypy:
  name: MyPy
  entry: poetry run mypy langchain_docling test
  pass_filenames: false
  language: system

flake8:
  name: Flake8
  entry: poetry run flake8 langchain_docling
  pass_filenames: false
  language: system

pytest:
  name: Pytest
  entry: poetry run pytest test/
  pass_filenames: false
  language: system

nbqa_black:
  name: nbQA Black
  entry: poetry run nbqa black examples/
  pass_filenames: false
  language: system

nbqa_isort:
  name: nbQA isort
  entry: poetry run nbqa isort examples/
  pass_filenames: false
  language: system

docs: update README
  README.md
Due: none

feat: add support for Path & DocumentStream
  langchain_docling/loader.py
  test/test_loader.py
Due: black, isort, autoflake, mypy, flake8, pytest

chore: use latest version for docling dep
  poetry.lock
  pyproject.toml
  test/test_loader.py
Due: black, isort, autoflake, mypy, flake8, pytest

chore: keep caret version specifier
  poetry.lock
  pyproject.toml
Due: none

feat: enable Python 3.13, update deps, switch to uv, add codecov
  .gitattributes
  .github/actions/setup-poetry/action.yml
  .github/codecov.yml
  .github/scripts/release.sh
  .github/workflows/cd.yml
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  .github/workflows/pypi.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  examples/docling_loader.ipynb
  poetry.lock
  pyproject.toml
  test/__init__.py
  test/data/input/dl_doc_1.json
  test/data/output/lc_doc_chunks_1.json
  test/data/output/lc_doc_md_1.json
  test/test_data_gen_flag.py
  test/test_loader.py
  uv.lock
Due: black, isort, autoflake, mypy, flake8, pytest, nbqa_black, nbqa_isort

update repo links to new org
  .github/workflows/ci.yml
  README.md
  examples/docling_loader.ipynb
Due: nbqa_black, nbqa_isort

ci: add 3.13 to tested Python versions
  .github/workflows/checks.yml
Due: none

chore: dco advisor
  .github/dco.yml
  .github/workflows/dco-advisor.yml
Due: none

chore: update lock
  uv.lock
Due: none

feat: picture description via langchain llm
  examples/docling_picture_description.ipynb
  langchain_docling/_plugins.py
  langchain_docling/picture_description.py
  pyproject.toml
  uv.lock
Due: black, isort, autoflake, mypy, flake8, pytest, nbqa_black, nbqa_isort

add docstrings
  examples/docling_picture_description.ipynb
  langchain_docling/_plugins.py
  langchain_docling/picture_description.py
  pyproject.toml
  uv.lock
Due: black, isort, autoflake, mypy, flake8, pytest, nbqa_black, nbqa_isort

cleanup
  langchain_docling/picture_description.py
Due: black, isort, autoflake, mypy, flake8, pytest

feat!: upgrade to langchain v1
  README.md
  examples/docling_loader.ipynb
  examples/docling_picture_description.ipynb
  langchain_docling/loader.py
  langchain_docling/picture_description.py
  pyproject.toml
  test/test_loader.py
  uv.lock
Due: black, isort, autoflake, mypy, flake8, pytest, nbqa_black, nbqa_isort

update python versions in CI
  .github/workflows/checks.yml
Due: none

update python version in README
  README.md
Due: none

fix: sanitize metadata keys for database compatibility (fixes #18)
  langchain_docling/loader.py
  test/data/output/lc_doc_chunks_1.json
Due: black, isort, autoflake, mypy, flake8, pytest

feat: add DoclingParser for GenericLoader compatibility
  langchain_docling/__init__.py
  langchain_docling/loader.py
  test/test_loader.py
Due: black, isort, autoflake, mypy, flake8, pytest

fix: pin pydantic to <2.12.5 due to string constraints parameter change
  pyproject.toml
Due: none

feat: add opt-in remote Docling endpoint backend to DoclingLoader
  README.md
  langchain_docling/_remote.py
  langchain_docling/loader.py
  pyproject.toml
  test/conftest.py
  test/test_loader.py
  test/test_remote.py
  uv.lock
Due: black, isort, autoflake, mypy, flake8, pytest

Support for DoclingServiceClient via protocol
  README.md
  langchain_docling/__init__.py
  langchain_docling/loader.py
  pyproject.toml
  test/test_loader.py
  uv.lock
Due: black, isort, autoflake, mypy, flake8, pytest

slim package
  .github/workflows/checks.yml
  README.md
  langchain_docling/loader.py
  pyproject.toml
  test/test_loader.py
  uv.lock
Due: black, isort, autoflake, mypy, flake8, pytest

feat!: Support for DoclingServiceClient via protocol (#35)
  .github/workflows/checks.yml
  README.md
  langchain_docling/__init__.py
  langchain_docling/loader.py
  pyproject.toml
  test/test_loader.py
  uv.lock
Due: black, isort, autoflake, mypy, flake8, pytest

chore: update lock
  pyproject.toml
  uv.lock
Due: none

chore: update lock (#36)
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  autoflake: any of: \.py$
  mypy: any of: \.py$
  flake8: any of: \.py$
  pytest: any of: \.py$
  nbqa_black: any of: \.ipynb$
  nbqa_isort: any of: \.ipynb$
